/*=================================
---------General Styles------------
=================================*/

*, *::before, *::after  {
    box-sizing: border-box;
    
  }

:root {
    --dark: rgba(10, 18, 42, 0.9);
    --mid1: rgba(20, 106, 153, 1);
    --mid2: rgb(255, 111, 27);
    --mid3: rgba(163, 187, 173, 1);
    --light1: rgba(229, 235, 234, 1);
    --light2: rgba(255, 207, 153, 1);
    --white: #fff;
    --black: #000;
}

body {
    margin: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/*=================================
------------Nav Styles-------------
=================================*/

.logo {
    color: var(--mid2);
    font-family: 'Audiowide', cursive;
    font-size: 1.5rem;
}

header {
    background: var(--dark);
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;    
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--light1);
}

.nav-toggle-label span {    
    font-size: 1.5rem;
}

.nav-toggle-label span:hover {
    color: var(--light2);
    cursor: pointer;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--dark);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 0.75em;    
    margin-left: 1em;
}

nav a {
    color: var(--light1);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--light2);        
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr);
    }

    .logo {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        grid-column: 2 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2em;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--light2);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*=================================
-----------Home Styles-------------
=================================*/

.backgroundmask {
    background:rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    text-align: center;    
    color: rgba(0, 0, 0, 1);    
    animation: fadeBackground 4s forwards;
    animation-delay: 4.75s;
    
}

.home {
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
    text-align: center;
    background-image: url('./images/WastwaterMistV1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;                     
}


.home h1 {    
    font-size: clamp(1rem, 3vw + 1.5rem, 4rem);
    position: relative;
    font-family: 'Roboto Mono', monospace;
    
}

.home h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home h1::before {
    background: #fff;    
    animation: typewriter 4s steps(17) 1s forwards;    
}

.home h1::after {
    width: 0.125em;
    background: #000;
    animation: typewriter 4s steps(17) 1s forwards, blink 0.75s steps(17) infinite;
}

.subtitle {
    color: rgba(0, 0, 0, 1);
    font-size: 1.5rem;    
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: subtitleFadeInUp 2s ease 6s forwards;
}

@keyframes fadeBackground {
    from {background: rgb(255, 255, 255, 1)}
    to {background: rgba(255, 255, 255, 0)}
}


@keyframes typewriter {
    to {
        left: 100%
    }
}

@keyframes blink {
    to {
        background: transparent;
    }    
}

@keyframes subtitleFadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*=================================
-----------About Styles------------
=================================*/

.about {
    padding: 1rem;
    display: grid;
    background: var(--light1);    
}

.about h2 {
    color: var(--dark);
    font-size: 1.75rem;
    text-align: center;
}

.about img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 2px #444;
}

.about p {
    margin-bottom: -0.5em;
}

@media screen and (min-width: 800px) {
    .about {
        all: unset;
        min-height: 100vh;
        margin: 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

/*=================================
----------Projects Styles----------
=================================*/

.projects {
    min-height: 100vh;
    background: var(--dark);
}

/*=================================
----------Skills Styles------------
=================================*/

.skills {
    min-height: 100vh;
    background: var(--light1);
}

/*=================================
----------Contact Styles-----------
=================================*/

.contact {
    min-height: 100vh;
    background: var(--mid3);
}




















